<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563203228633-uq11ebsujp1hspre1drddch8f5s5fptq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563203228633-uq11ebsujp1hspre1drddch8f5s5fptq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLc4pHlnaLD4MjQJHlHQP58I9AoKipDmY</string>
	<key>GCM_SENDER_ID</key>
	<string>563203228633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>bookstore-b425c</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-b425c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563203228633:ios:605bccd3bd8b3f6ba60fc8</string>
</dict>
</plist>